<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="FormName" value="llll"/>
		<add key="FormClass" value="WindowsForms10.Window.8.app.0.141b42a_r8_ad1"/>
		<add key="BotonName" value="button1"/>
		<add key="BotonClass" value=""/>
		<add key="TextoName" value=""/>
		<add key="TextoClass" value="WindowsForms10.EDIT.app.0.141b42a_r8_ad1"/>

		<add key="Sleep" value="20"/>
		
		<add key="NumDigitosInico" value="1"/>
		<add key="Inicio" value="0"/>
		<add key="Fin" value="9999"/>
		
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
